<!doctype <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Latent Couple 可视化区域设置</title>
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/hella.css" />
    <script src="scripts/vue.min.js"></script>
    <link rel="stylesheet" href="stylesheets/water.css">

  </head>
  <body>
    <div id="latent_couple_mapper">
        <div class="grid">
            <div class="row">
                <div class="column six">
                    <header>Latent Couple 可视化区域设置 - <a href="https://github.com/CodeZombie/latentcoupleregionmapper/">Github</a></header>
                    
                    <span>By Jeremy "<code>{{this.nick}}</code>" Clark. 汉化 by 秋叶
                </div>
                <div class="column six">
                    <div class="panel">
                        <strong>使用说明</strong> <span @click="toggle_instructions()">{{ this.instructions_visible ? "点击隐藏" : "点击隐藏" }}</span>
                        <div v-if="instructions_visible">
                            <ul>
                                <li>打开图像 / 设置画布的大小</li>
                                <li>在画布上单击并拖动以绘制区域</li>
                                <li>使用区域右下角的红色锚点调整其大小，或单击区域上的其他任何位置将其移动</li>
                                <li>右键单击区域以删除它们</li>
                                <li>使用 <code>将区域与网格对齐</code> 按钮，可以将区域与网格对齐</li>
                                <li>可以使用顶部的 <code>网格设置</code> 来配置或关闭网格</li>
                                <li>您创建的每个区域都将在底部创建一个面板，您可以在其中修改区域的提示和权重</li>
                                <li>修改此提示或权重将自动更新 <code>最终提示词</code> 面板中的值</li>
                                <li>配置完区域后，使用 <code>复制</code> 按钮复制“输出”面板中的信息，并将其粘贴到Automatc1111 WebUI扩展中的相应部分</li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column six panel imagepanel">
                    <label for="imageLoader">上传图片</label>
                    <input type="file" name="imageLoader" @change="uploadImage"/>
                    <div class="settings_panel">
                        <label for="canvas_width">画布宽度</label>
                        <input type="number" name="canvas_width" min="64" max="8192" v-model.number="canvas_width">
                        <label for="canvas_height">画布高度</label>
                        <input type="number" name="canvas_height" min="64" max="8192" v-model.number="canvas_height">
                    </div>

                </div>
                <div class="column six panel">
                    网格设置
                    <div class="settings_panel">
                        <label for="cheese">启用辅助网格</label>
                        <input type="checkbox" name="cheese" id="cheese" v-model="grid_enabled">
                        <label for="grid_rows">行</label>
                        <input type="number" id="quantity" name="grid_rows" min="1" max="128" v-model.number="grid_rows">
                        <label for="grid_rows">列</label>
                        <input type="number" id="quantity" name="grid_rows" min="1" max="128" v-model.number="grid_columns">
                    </div>
                </div>
            </div>
        </div>
        <div class="image_panel">
            <canvas ref="canvas" id="canvas" width="512" height="512" oncontextmenu="return false;" @mousemove="onCanvasMouseMove" @mouseup="onCanvasMouseUp" @mousedown="onCanvasMouseDown" @mouseleave="onCanvasMouseLeave"></canvas>
            <button id="quantize_regions" @click="snapAllRegions()">将区域与网格对齐</button>
        </div>
        <div class="grid">
            <div class="panel" v-for="(region, index) in [global_region].concat(regions)" v-bind:key="index">
                <div class="region_header">
                    <div class="toggle_label">
                        <input type="checkbox" v-model="region.enabled">
                        <strong>{{index || "全局提示词"}}</strong>
                    </div>
                    <div class="region_info">

                    </div>
                    <button class="small" v-if="index" @click="deleteRegion(region)">删除</button>
                </div>
                <hr/>
                
                <div class="promptweightbar">
                    <textarea rows=2, type="text" placeholder="prompt" class="region_prompt" name="region_prompt" v-model="region.prompt"></textarea>
                    <div>
                    <label for="region_weight">权重</label>
                    <input type="number" step="0.01" name="region_weight" class="region_weight" v-model.number="region.weight">
                    </div>
                </div>
            </div>
            <div class="panel">
                <div><strong>输出</strong></div>
                <div class="row">
                    <div class="column four output_text_row">
                        <div  v-for='keyval in [["Divisions", divisions()], ["Positions", positions()], ["Weights", weights()]]'>
                            <div class="title_copy_container">
                                <div>{{keyval[0]}}:</div>
                                <div class="button_container">
                                    <button @click="copyText(keyval[1])" class="small">复制</button>
                                </div>
                            </div>
                            <code>{{keyval[1]}}</code>
                            <hr>
                        </div>

                    </div>
                    
                    <div class="column eight">
                        <div class="title_copy_container">
                            <div>最终提示词:</div>
                            <div class="button_container">
                                <button @click="copyText(prompt())" class="small">复制</button>
                            </div>
                        </div>
                        <pre><code>{{prompt()}}</code></pre>

                    </div>
                </div>
            </div>
        </div>
    </div>

  </body>
  <script src="scripts/app.js"></script>
</html>
